<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>154204299071-i0uo9nuo2teupm4vgasr8h6nojocssq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154204299071-i0uo9nuo2teupm4vgasr8h6nojocssq0</string>
	<key>API_KEY</key>
	<string>AIzaSyBlJ1QxWOdEOoCNx9EYC36teF9WYbavXFk</string>
	<key>GCM_SENDER_ID</key>
	<string>154204299071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ludi.teach</string>
	<key>PROJECT_ID</key>
	<string>ludi-mahjong-46d78</string>
	<key>STORAGE_BUCKET</key>
	<string>ludi-mahjong-46d78.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154204299071:ios:545ff9fe210a302dcefd8a</string>
</dict>
</plist>